body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 35px;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    color: aliceblue;
    padding: 10px;
    height: 35px;
}

form {
    width: 90%;
    margin: 40px auto;
}

.card {
    margin: 20px auto;
}

.card-text {
    text-align: justify;
}

.no-underline-button {
    text-decoration: none;
    margin-right: 10px;
    color: inherit;
}
